body{
    width: 100%;
    height: auto;
    background-color: rgba(189, 108, 16, 0.932);
}

.slide{
    align-content: center;
}
* img {
    width: 500px;
    height: 650px;
}

.btn_ver{
    color: white;
    background-color: blue;
    padding: 1%;
    border-radius: 20%;
    list-style: none;
    text-decoration: none;
    margin-bottom: 5%;
}
.btn_ver:hover{
    background-color: rgb(35, 35, 214);
}
.btn_ver:active{
    background-color: green;
}